<!--<h1>Data for Frame</h1> 
<table border="1px"> 
	<tr> 
        {{ table.to_html()|safe }}
	</tr> 
</table> -->

<!--
<html>
<head>
    <title>Deploy ML</title>
</head>
<body>
    <div class="container" style="overflow-x:auto;">
        <table class="table table-striped">
            <thead>
               <tr>
                   <th>title</th>
                   <th>lead_text</th>
                   <th>date_description</th>
                   <th>cover_url</th>
               </tr>
           </thead>
           <tbody>
               {% if d %}  
               {% for i in d %}
               <tr>
                   <td>{{i.title}}</td>
                   <td>{{i.lead_text}}</td>
                   <td>{{i.date_description}}</td>
                   <td>{{i.cover_url}}</td>
               </tr>
               {% endfor %}
               {% endif %}
           </tbody>
       </table>
       </div>
</body>
</html> -->